/*---------PROJECTS---------*/
.classSlideshowContainer {
    border-radius: .5rem;
    padding: .5rem;
    width: 100%;
    max-width: 650px;
    height: fit-content;
}

.classMySlides {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.classMySlidesTitle {
    color: var(--varFontColor);
    font-family: var(--varRubikSemiBold);
    padding: 0 0 .5rem 0;
    font-size: 18px;
    width: 100%;
    margin:0;
    text-align: center;
}

.classFileShow {
    background-color: black;
    width: 100%;
    border-radius: .3rem;
}

.classMySlidesLangs {
    color: var(--varFontColor);
    font-family: var(--varRubikSemiBold);
    font-size: 14px;
    width: 100%;
    height: 3.5rem;
    margin: 0 .5rem;
    display: flex;
    align-items: center;
}

.classMySlidesLangs a {
    background-color: var(--varTopBarBackColor);
    color: #fff;
    font-size: 16px;
    font-family: var(--varRubikRegular);
    width: 7rem;
    height: 2rem;
    border-radius: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 0 #0059b3;
}
.fa-brands {
    font-size: 20px;
}

.classMySlidesDescrip {
    color: var(--varFontColor);
    font-family: var(--varRubikRegular);
    font-size: 15px;
    line-height : 1.5rem;
    width: 100%;
    min-height: 6rem;
    margin: 0 .5rem;
    display: flex;
}

.classBtnsPrevNext {
    text-align: center;
    margin: 1rem 0 0 0;
}

.classBtnPrev, .classBtnNext {
    border: 3px solid var(--varBtnsCan1);
    background-color: var(--varBtnsCan2);
    color: var(--varBtnsCan1);
    border-radius: 100%;
    font-size: 2rem;
    width: 2.5rem;
    cursor: pointer;
}

.classBtnPrev:hover,
.classBtnNext:hover {
    background-color: var(--varBtnsCanHover);
}

.fa-angle-left {
padding: 0 2px 0 0;
margin-right: .5rem;
}
.fa-angle-right {
padding: 0 0 0 2px;
margin-left: .5rem;
}
