@font-face {
  font-family: "AardvarkCafe";
  src: url(../assets/fonts/AardvarkCafe.woff2) format("woff2");
  src: url(../assets/fonts/AardvarkCafe.woff) format("woff");
  src: url(../assets/fonts/AardvarkCafe.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Frutiger";
  src: url(../assets/fonts/Frutiger.woff2) format("woff2");
  src: url(../assets/fonts/Frutiger.woff) format("woff");
  src: url(../assets/fonts/Frutiger.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "RubikRegular";
  src: url(../assets/fonts/Rubik-Regular.woff2) format("woff2");
  src: url(../assets/fonts/Rubik-Regular.woff) format("woff");
  src: url(../assets/fonts/Rubik-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "RubikSemiBold";
  src: url(../assets/fonts/Rubik-SemiBold.woff2) format("woff2");
  src: url(../assets/fonts/Rubik-SemiBold.woff) format("woff");
  src: url(../assets/fonts/Rubik-SemiBold.ttf) format("truetype");
  font-display: swap;
}

:root {
  --varUrlBackgroundImage: url("../assets/images/backgrounds/001.webp");

  --varAardvarkCafe: "AardvarkCafe";
  --varFrutiger: "Frutiger";
  --varRubikRegular: "RubikRegular";
  --varRubikSemiBold: "RubikSemiBold";
  --varFontColor: #f0f0f0;
  --varLineColor: linear-gradient(to right, #873e2f 40%, #eabe6a 60%);

  --varTopBarBackColor: 224, 42%, 34%;
  --varTopBarHeight: 4rem;

  --varBtnsCan1: #e9291c;
  --varBtnsCan2: #fefffe;
  --varBtnsCanHover: #f0f0f0;

  --varMinHeightClassScreen: calc(100vh - var(--varTopBarHeight));

  --varIcoColorCardOver: #202d59;

  --varHabColorHR1: #873e2f;
  --varHabColorHR2: #eabe6a;
  --varHabColorHR3: #fefffe;

  --varMailFormBackColor: #dcdcdc;
  --varMailFontColor: #494545;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  & body {
    min-width: 320px;
    min-height: 600px;

    & a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
    }
  }
}

.classTotalContainer,
.classProjectsContainer {
  background: var(--varUrlBackgroundImage);
}

.classCover,
.classProjects,
.classHabilidades,
.classExperiencia,
.classEstudios,
.classMail {
  position: relative;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: var(--varMinHeightClassScreen);

  & .classSubTitulo {
    padding-bottom: 3rem;
    font-family: var(--varRubikSemiBold);
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--varFontColor);
    font-size: 40px;

    & svg {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 0.5rem;
      stroke: var(--varFontColor);
      stroke-width: 2;
    }
  }
}

.LineColor {
  height: 3px;
  border: none;
  background: var(--varLineColor);
}

/*---------CONTENEDOR TOTAL---------*/

.classAncleCover,
.classAncle {
  position: absolute;
  visibility: hidden;
  left: 0;
}

.classAncleCover {
  top: 0;
}
.classAncle {
  height: var(--varTopBarHeight);
  bottom: -1px;
}

.classHideOverflowY {
  overflow-y: hidden;
}

/*---------CONTENEDOR TOTAL---------*/

@media (width < 600px) {
  .classCover,
  .classProjects,
  .classHabilidades,
  .classExperiencia,
  .classEstudios,
  .classMail {
    & .classSubTitulo {
      font-size: 40px;

      & svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

@media (width < 500px) {
  .classCover,
  .classProjects,
  .classHabilidades,
  .classExperiencia,
  .classEstudios,
  .classMail {
    & .classSubTitulo {
      font-size: 30px;

      & svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

@media (width < 400px) {
  .classCover,
  .classProjects,
  .classHabilidades,
  .classExperiencia,
  .classEstudios,
  .classMail {
    & .classSubTitulo {
      font-size: 25px;

      & svg {
        width: 2rem;
      }
    }
  }
}
