/*---------PROJECTS---------*/
.classShowCardsContainer {
    border-radius: .5rem;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 3rem;
}

.classProjectCard {
    width: 17rem;
    height: 25rem;
    border: 2px solid var(--varBtnsCan2);
    background-color: var(--varTopBarBackColor);
    box-shadow: var(--varBtnsCan1) 0px 0px 2px 2px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease;

    &:hover {
        background-color: var(--varIcoColorCardOver);
        transform: scale(1.05, 1.05);
    }
}

.classCardTitle {
    height: 2.5rem;
    font-family: var(--varRubikRegular);
    color: var(--varFontColor);
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classCardImage {
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        max-width: 85%;
        max-height: 90%;
    }
}

.classCardLang {
    height: 2.5rem;
    font-family: var(--varRubikRegular);
    color: var(--varFontColor);
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.classProjectsContainer {
    width: 100vw;
    height: 100vh;
    z-index: 995;
    position: fixed;
    top: 0;
    right: -100vw;
    display: flex;
	justify-content: center;
    align-items: center;
    transition:all 500ms ease-in-out;
}

.classProjectsContainerShow {
    right: 0%;
}

.classBtnHideProject {
    width: 100vw;
    max-width: 1200px;
    position: absolute;
    top: 0;

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 3px solid red;
        border-radius: 50%;
        margin: 1rem;
    
        & svg {
            width: 3rem;
            height: 3rem;
            fill: var(--varBtnsCan1);
        }
    
    }
}

.classShowProjectContainer {
    width: 100%;
    max-width:900px;
    height: fit-content;
}
.classShowProject {
    height: fit-content;
    display: block;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    display: none;
}

.classShowProjectTitle,
.classShowFile,
.classShowProjectLang,
.classShowProjectDescript {
    margin-top: 10px;
    width: 100%;
    color: var(--varFontColor2);
}

.classShowProjectTitle {
    font-family: var(--varRubikSemiBold);
    font-size: 32px;
    text-align: center;
}

.classShowFile {
    background-color: black;
    padding: 1.5rem 0;
}

.classShowProjectLang {
    padding: .5rem;
    font-family: var(--varRubikRegular);
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    /* padding-right: 5rem; */

    & a {
        background-color: var(--varTopBarBackColor);
        color: var(--varFontColor);
        font-family: var(--varRubikRegular);
        font-size: 20px;
        box-shadow: 3px 3px 0 #0059b3;
        width: 8rem;
        height: 2.5rem;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1.5rem;
    }
    
    & a:hover {
        transition: transform .5s ease-in-out;
        transform: scale(1.1);
    }

    & svg {
        fill: white;
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
}

.classShowProjectDescript {
    font-family: var(--varRubikRegular);
    font-size: 24px;
    padding: 1rem .5rem 0 .5rem;
    line-height: 1.5;
}

/*---------RESPONSIVE---------*/
@media (width < 900px) {
    .classShowProjectTitle {
        font-size: 24px;
    }
    .classShowProjectLang,
    .classShowProjectDescript {
        font-size: 20px;
    }
} 

@media (width <= 600px) {

    .classShowProjectTitle {
        font-size: 24px;
    }
    .classShowProjectLang,
    .classShowProjectDescript {
        font-size: 18px;
    }
}

@media (width <= 414px) {

    .classBtnHideProject {
        left: 0;
    
        & button {
            width: 3rem;
            height: 3rem;
        
            & svg {
                width: 2rem;
                height: 2rem;
                fill: var(--varBtnsCan1);
            }
        
        }
    }
    
    .classBtnHideProject svg {
        width: 3rem;
    }

    .classShowProjectTitle {
        font-size: 20px;
    }

    .classShowProjectLang {
        font-size: 12px;

        & a {
            font-size: 12px;
            width: 5rem;
            height: 2rem;
            margin-left: 1rem;
        }
        & svg {
            width: 15px;
            height: 15px;
            margin-right: 10px;
        }
    }

    .classShowProjectDescript {
        font-size: 16px;
    }

    
}

@media (width <= 390px) {

    .classBtnHideProject {
        left: 0;
    
        & button {
            width: 3rem;
            height: 3rem;
        
            & svg {
                width: 2rem;
                height: 2rem;
                fill: var(--varBtnsCan1);
            }
        
        }
    }

    .classShowProjectTitle {
        font-size: 20px;
    }

    .classShowProjectLang {
        font-size: 16px;

        & a {
            font-size: 14px;
            width: 5rem;
            height: 2rem;
            margin-left: 1rem;
        }
        & svg {
            width: 15px;
            height: 15px;
            margin-right: 10px;
        }
    }

    .classShowProjectDescript {
        font-size: 16px;
    }

}

@media (width <= 375px) {

    .classBtnHideProject {
        left: 0;
    
        & button {
            width: 3rem;
            height: 3rem;
        
            & svg {
                width: 2rem;
                height: 2rem;
                fill: var(--varBtnsCan1);
            }
        
        }
    }

    .classShowProjectTitle {
        font-size: 20px;
    }

    .classShowProjectLang {
        font-size: 16px;

        & a {
            font-size: 14px;
            width: 5rem;
            height: 2rem;
            margin-left: 1rem;
        }
        & svg {
            width: 15px;
            height: 15px;
            margin-right: 10px;
        }
    }

    .classShowProjectDescript {
        font-size: 16px;
    }

}

/*---------RESPONSIVE---------*/

