.experiencias,
.cursos {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 700px;

  & hr {
    position: absolute;
    margin: 3px 0 0 5px;
    background-color: var(--varHabColorHR2);
    border: 2px solid var(--varHabColorHR1);
    border-radius: 0.5rem;
    width: 8px;
    height: 96%;
    z-index: 1;
  }

  .experiencia,
  .curso {
    display: flex;
    flex-direction: row;
    color: var(--varFontColor);
    margin-bottom: 2rem;

    & .barra {
      display: flex;
      justify-items: center;

      & .point {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 17px;
        height: 17px;
        margin-top: 3px;
        background-color: var(--varHabColorHR2);
        border: 3px solid var(--varHabColorHR1);
        box-shadow: var(--varHabColorHR3, 1) 0px 0px 1px 1px;
        border-radius: 50%;
        z-index: 2;
      }
    }

    & p {
      font-family: var(--varRubikRegular);
      font-size: 22px;
      margin-left: 0.5rem;
      line-height: 2.5rem;
    }
  }
}

/*---------RESPONSIVE---------*/
@media (width <= 700px) {
  .experiencias {
    & .experiencia {
      & p {
        font-size: 16px;
      }
    }
  }
}

@media (width <= 600px) {
  .experiencias {
    & .experiencia {
      & p {
        font-size: 15px;
      }
    }
  }
}

@media (width <= 550px) {
  .experiencias {
    & hr {
      width: 6px;
    }
    & .experiencia {
      & .barra {
        & .point {
          width: 15px;
          height: 15px;
        }
      }

      & p {
        font-size: 15px;
      }
    }
  }
}

@media (width <= 500px) {
  .experiencia {
    & p {
      font-size: 14px;
    }
  }
}

@media (width <= 414px) {
  .experiencias {
    & .experiencia {
      & p {
        font-size: 13px;
      }
    }
  }

  .cursos {
    & .curso {
      & p {
        font-size: 13px;
      }
    }
  }
}

@media (width <= 400px) {
  .experiencias {
    & .experiencia {
      & p {
        font-size: 14px;
      }
    }
  }

  .cursos {
    & .curso {
      & p {
        font-size: 12px;
        line-height: 1.5rem;
      }
    }
  }
}

@media (width <= 375px) {
  .experiencias {
    & .experiencia {
      & p {
        font-size: 13px;
      }
    }
  }

  .cursos {
    & .curso {
      & p {
        font-size: 11px;
        line-height: 1.5rem;
      }
    }
  }
}

@media (width <= 360px) {
  .experiencias {
    & .experiencia {
      & p {
        font-size: 11px;
      }
    }
  }

  .cursos {
    & .curso {
      & p {
        font-size: 11px;
        line-height: 1.5rem;
      }
    }
  }
}

/*---------RESPONSIVE---------*/
