/*---------PROJECTS---------*/
.classShowCardsContainer {
    border-radius: .5rem;
    padding: .5rem;
    width: 100%;
    max-width: 900px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.classProjectCard {
    width: 13rem;
    height: 22rem;
    margin: .5rem 1rem;
    border: 2px solid var(--varBtnsCan2);
    background-color: var(--varTopBarBackColor);
    box-shadow: var(--varBtnsCan1) 0px 0px 2px 2px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease;
}

.classProjectCard:hover{
    background-color: var(--varIcoColorCardOver);
    transform: scale(1.05, 1.05);
}

.classCardTitle {
    height: 2rem;
    font-family: var(--varRubikRegular);
    color: var(--varFontColor);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classCardImage {
    width: 100%;
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.classCardImage img {
    max-width: 90%;
    max-height: 95%;
}

.classCardLang {
    height: 2rem;
    font-family: var(--varRubikRegular);
    color: var(--varFontColor);
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}


.classProjectsContainer {
    width: 100vw;
    height: 100vh;
    z-index: 995;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
	justify-content: center;
    align-items: center;
    transition:all 500ms ease-in-out;
}

.classProjectsContainerShow {
    right: 0%;
}

.classBtnHideProject {
    width: 100vw;
    max-width: 1200px;
    position: absolute;
    top: 0;
}

.classBtnHideProject button {
    background-color: white;
    border: 3px solid red;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.classBtnHideProject button svg {
    width: 3rem;
    height: 3rem;
    fill: var(--varBtnsCan1);
}

.classShowProjectContainer {
    width: 100%;
    max-width:800px;
    height: fit-content;
}
.classShowProject {
    height: fit-content;
    display: block;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    display: none;
}

.classShowProjectTitle,
.classShowFile,
.classShowProjectLang,
.classShowProjectDescript {
    margin-top: 10px;
    width: 100%;
    color: var(--varFontColor);
}

.classShowProjectTitle {
    font-family: var(--varRubikSemiBold);
    font-size: 24px;
    text-align: center;
}

.classShowFile {
    background-color: black;
    padding: 1rem 0;
}

.classShowProjectLang {
    padding: .5rem;
    font-family: var(--varRubikRegular);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.classShowProjectLang a {
    background-color: var(--varTopBarBackColor);
    color: var(--varFontColor);
    font-family: var(--varRubikRegular);
    box-shadow: 0 3px 0 #0059b3;
    /* font-size: 18px; */
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.classShowProjectLang svg {
    fill: white;
    width: 20px;
    height: 20px;
}

.classShowProjectDescript {
    font-family: var(--varRubikRegular);
    font-size: 18px;
    padding: 0 .5rem 0 .5rem;
    line-height: 1.5;
}

/*---------RESPONSIVE---------*/
@media (max-width:900px) {
    .classShowProjectTitle {
        font-size: 24px;
    }
    .classShowProjectLang,
    .classShowProjectDescript {
        font-size: 20px;
    }
} 

@media (max-width:600px) {
    .classProjectCard {
        width: 15rem;
        height: 20rem;
    }
    .classCardImage {
        width: 15rem;
        height: 15rem;
    }
    .classShowProjectTitle {
        font-size: 24px;
    }
    .classShowProjectLang,
    .classShowProjectDescript {
        font-size: 18px;
    }
}

@media (max-width:414px) {

    .classBtnHideProject {
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
    }
    
    .classBtnHideProject svg {
        width: 3rem;
    }

    .classProjectCard {
        width: 15rem;
        height: 20rem;
    }
    .classCardImage {
        width: 15rem;
        height: 15rem;
    }
    .classShowProjectTitle {
        font-size: 22px;
    }
    .classShowProjectLang,
    .classShowProjectDescript {
        font-size: 16px;
    }
}

/*---------RESPONSIVE---------*/

