/*---------SKILLS---------*/
.classHabilidadesIntro {
  font-family: var(--varRubikRegular);
  color: var(--varFontColor);
  max-width: 800px;
  text-align: left;
  padding: 0 0 2rem 0;
}

.classHabilidadesFlex {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & .classHabiIcono, & .classHabiNombre, & .classHabiDetalles {
    font-family: var(--varRubikRegular);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  & .classHabilidad {
    border: 5px solid  var(--varHabColorHR1);
    background-color: var(--varHabColorHR2);
    color: var(--varHabColorHR1);
    box-shadow: var(--varHabColorHR3, 1) 0px 0px 1px 1px;
    border-radius: 2rem;
    min-width: 210px;
    width: 18rem;
    height: 16rem;
  }
  
  & .classHabiIcono {
    height: 25%;
  
    & svg {
      margin-top: 1rem;
      width: 4rem;
      height: 4rem;
      fill: var(--varHabColorHR1);
      stroke: var(--varHabColorHR1);
      stroke-width: 2.5;
    }
  }
  
  & .classHabiNombre {
    height: 40%;
    font-family: var(--varAardvarkCafe);
    font-weight: 500;
    font-size: 32px;
    text-shadow: 1px 1px #FFFFFF;
    align-items: center;
  }
  
  & .classHabiDetalles {
      height: 35%;
      font-family: var(--varFrutiger);
      font-size: 18px;
      align-items: flex-start;
      line-height: 1.3rem;
    }
}



/*---------RESPONSIVE---------*/
@media (max-width:414px) {
  .classHabilidadesIntro {
    font-size: medium;
  }
  .classHabilidad {
    width: 200px;
    height: 250px;
  }
  .classHabiIcono {
    font-size: 2.5rem;
  }
  .classHabiNombre{
    font-size: 23px;
  }
  .classHabiDetalles{
    font-size: 13px;
  }
}

@media (max-width:375px) {
  .classHabilidadesIntro {
    font-size: medium;
  }
  .classHabilidad {
    width: 200px;
    height: 250px;
  }
  .classHabiIcono {
    font-size: 2.5rem;
  }
  .classHabiNombre{
    font-size: 23px;
  }
  .classHabiDetalles{
    font-size: 13px;
  }
}

@media (max-width:350px) {
  .classHabilidadesIntro {
    font-size: medium;
  }
  .classHabilidad {
    width: 180px;
    height: 230px;
  }
  .classHabiIcono {
    font-size: 2rem;
  }
  .classHabiNombre{
    font-size: 20px;
  }
  .classHabiDetalles{
    font-size: 12px;
  }

}

@media (max-width:320px) {
  .classHabilidadesIntro {
    font-size: 12px;
  }
}

/*---------RESPONSIVE---------*/



