.cursos {
    position: relative;
    display: flex;
    flex-direction: column;

    & hr {
        position:absolute;
        margin: 3px 0 0 5px;
        background-color: var(--varHabColorHR2);
        border: 2px solid var(--varHabColorHR1);
        border-radius: .5rem;
        width: 6px;
        height: 96%;
        z-index: 1;
    }
}

.point {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17px;
    height: 15px;
    margin-top: 3px;
    background-color: var(--varHabColorHR2);
    border: 3px solid var(--varHabColorHR1);
    box-shadow: var(--varHabColorHR3, 1) 0px 0px 1px 1px;
    border-radius: 50%;
    z-index: 2;
}

.curso {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;

    & p {
        font-family: var(--varRubikRegular);
        font-size: 20px;
        margin-left: .5rem;
        line-height : 2rem;
    }
}

/*---------RESPONSIVE---------*/
@media (max-width:700px) {
    .curso p {
        font-size: 16px;
    }
}

@media (max-width:600px) {
    .curso p {
        font-size: 15px;
    }
}

@media (max-width:550px) {
    .curso {
        width: 90vw;
    }
    .curso p {
        font-size: 15px;
    }
    .point {
        width: 15px;
        height: 15px;
    }
    .cursos hr {
        width: 6px;
    }


}

@media (max-width:500px) {
    .curso p {
        font-size: 14px;
    }
}


@media (max-width:414px) {
    .curso {
        width: 90vw;
    }
    .curso p {
        font-size: 13px;
    }
    .point {
        width: 13px;
        height: 13px;
        border: 2px solid var(--varHabColorHR1);
    }
    .cursos hr {
        margin: 3px 0 0 4px;
        width: 5px;
        border: 2px solid var(--varHabColorHR1);
    }
}

@media (max-width:375px) {
    .curso p {
        font-size: 12px;
    }
}

@media (max-width:350px) {
    .curso p {
        font-size: 11px;
    }

}

@media (max-width:320px) {
    .curso {
        width: 90vw;
    }
    .curso p {
        font-size: 10px;
    }

}

/*---------RESPONSIVE---------*/