/*---------PORTADA---------*/
.classCover {
    background: url("../assets/images/backgrounds/002.webp") no-repeat center top;
    background-size: cover;
    padding: 0;
}

.classMashTrans {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classFotoDatos {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.classCoverFoto{
    border-radius: 100%;
    border: 3px solid white;
    width: 13rem;
    height: auto;
    margin: -2rem 1rem 0 0;
    aspect-ratio: 1 / 1;
}

.classCoverDatos {
    color: var(--varFontColor);
    padding: 0 .5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.classCoverDatos .classTituloH2 {
    width: 100%;
    text-align: left;
}

.classCoverHi {
    font-family: var(--varRubikRegular);
    padding-bottom: 3rem;
    line-height: 1.5;
}

.classCoverIcons {
    display: flex;
    justify-content: left;
    gap: 0 1rem;
}

.classCoverIcons a {
    width: 8rem;
    height: calc(var(--varTopBarHeight) * .75);
    border: 3px solid var(--varBtnsCan1);
    background-color: var(--varBtnsCan2);
    color: var(--varBtnsCan1);
    font-family: var(--varRubikRegular);
    border-radius: 2rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.classCoverIcons a:hover {
    background-color: var(--varBtnsCanHover);
    transition: transform .5s ease;
    transform: scale(1.25);
}

.btnGitHub svg,
.btnLinkedIn svg,
.btnDocCV svg {
    width: 1.5rem;
    height: 1.5rem;
}


.btnGitHub svg,
.btnLinkedIn svg,
.btnDocCV svg {
    fill: var(--varBtnsCan1);
}

.classArrowDown svg {
    width: 2rem;
    height: 2rem;
}
.classArrowDown {
    fill: red;
    position: absolute;
    bottom: 4rem;
    animation: animArrow 2.5s ease-in-out infinite;
}


@keyframes animArrow {
    0% {
        transform: translateY(0);
        fill: var(--varBtnsCan1);
    }
    25% {
        fill: var(--varBtnsCan2);
    }
    50% {
        transform: translateY(2rem);
        fill: var(--varBtnsCan1);
    }
    75% {
        fill: var(--varBtnsCan2);
    }
    100% {
        transform: translateY(0);
        fill: var(--varBtnsCan1);
    }
}

/*---------RESPONSIVE---------*/


@media (max-width:900px) {
    .classCoverFoto{
        width: 10rem;
        height: auto;
    }
    
    .classCoverHi {
        font-size: 16px;
    }
    .btnGitHub svg,
    .btnLinkedIn svg,
    .btnDocCV svg {
        width: 2rem;
        height: 2rem;
    }

    .classCoverIcons a {
        margin: 0 1rem;
        border-radius: 2rem;
        font-size: 14px;
    }
    .btnGitHub svg,
    .btnLinkedIn svg,
    .btnDocCV svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .classArrowDown svg {
        width: 1.5rem;
    }

} 

@media (max-width:600px) {
    .classFotoDatos {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .classCoverFoto{
        width: 8rem;
        height: auto;
    }

    .classCoverHi {
        font-size: 14px;
    }

    .classCoverIcons {
        flex-direction: column;
        margin: 10px 0;
    }
    .classCoverIcons a {
        margin: 5px 1rem;
        border-radius: 2rem;
        font-size: 14px;
    }
    .btnGitHub svg,
    .btnLinkedIn svg,
    .btnDocCV svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .classArrowDown svg {
        width: 1.5rem;
    }

}

@media (max-width:414px) {
    .classFotoDatos{
        margin-bottom: 4rem;
    }
    .classCoverFoto{
        width: 8rem;
        height: auto;
    }
    .classTituloH2 {
        font-size: 18px;
    }
    .classCoverHi {
        font-size: 14px;
    }

    .classCoverIcons {
        flex-direction: column;
        margin: 10px 0;
    }
    .classCoverIcons a {
        margin: 5px 1rem;
        border-radius: 2rem;
        font-size: 14px;
    }
    .btnGitHub svg,
    .btnLinkedIn svg,
    .btnDocCV svg {
        width: 1.5rem;
        height: 1.5rem;
    }

}

@media (max-width:350px) {
    .classFotoDatos{
        margin-bottom: 1rem;
    }
    .classCoverFoto{
        width: 8rem;
        height: auto;
    }
    .classCoverHi {
        font-size: small;
    }
    .btnGitHub svg,
    .btnLinkedIn svg,
    .btnDocCV svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .classArrowDown {
        margin-top: 4rem;
    }

    .classCoverIcons {
        flex-direction: column;
        margin: 10px 0;
    }
    .classCoverIcons a {
        margin: 5px 1rem;
        border-radius: 2rem;
        font-size: 14px;
    }

    .btnGitHub svg,
    .btnLinkedIn svg,
    .btnDocCV svg {
        width: 1.5rem;
        height: 1.5rem;
    }

}

@media (max-width:375) and (max-height:667px) {
    .classFotoDatos {
        margin-bottom: 0;
    }
}

/*---------RESPONSIVE---------*/


