.experiencias,
.cursos {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 700px;

    & hr {
        position:absolute;
        margin: 3px 0 0 5px;
        background-color: var(--varHabColorHR2);
        border: 2px solid var(--varHabColorHR1);
        border-radius: .5rem;
        width: 6px;
        height: 96%;
        z-index: 1;
    }

}

.experiencia,
.curso {
    display: flex;
    flex-direction: row;
    color: var(--varFontColor2);
    margin-bottom: 2.5rem;

    & .barra {
        margin-right: 15px;
    }
    
    & .point {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 17px;
        height: 15px;
        margin-top: 3px;
        background-color: var(--varHabColorHR2);
        border: 3px solid var(--varHabColorHR1);
        box-shadow: var(--varHabColorHR3, 1) 0px 0px 1px 1px;
        border-radius: 50%;
        z-index: 2;
    }

    & p {
        font-family: var(--varRubikRegular);
        font-size: 22px;
        margin-left: .5rem;
        line-height : 2.2rem;
    }
}

/*---------RESPONSIVE---------*/
@media (width < 700px) {
    .experiencia p {
        font-size: 16px;
    }
}

@media (width < 600px) {
    .experiencia p {
        font-size: 15px;
    }
}

@media (width < 550px) {
    .experiencias hr {
        width: 6px;
    }

    .point {
        width: 15px;
        height: 15px;
    }

    .experiencia {
        width: 90vw;

        & p {
            font-size: 15px;
            
        }
    }

}

@media (width < 500px) {
    .experiencia p {
        font-size: 14px;
    }
}


@media (width < 414px) {
    .experiencia {
        width: 90vw;

        & p {
            font-size: 13px;
        }
    }

    .point {
        width: 13px;
        height: 13px;
        border: 2px solid var(--varHabColorHR1);
    }
    .experiencias hr {
        margin: 3px 0 0 4px;
        width: 5px;
        border: 2px solid var(--varHabColorHR1);
    }
    .experiencia p {
        font-size: 12px;
    }
}

@media (width < 375px) {
    .experiencia p {
        font-size: 12px;
    }
}

@media (max-width:350px) {
    .experiencia p {
        font-size: 11px;
    }

}

@media (max-width:320px) {
    .experiencia {
        width: 90vw;

        & p {
            font-size: 10px;
        }
    }

}

/*---------RESPONSIVE---------*/