/*---------PORTADA---------*/
.classCover {
    background: url("../assets/images/backgrounds/002.webp") no-repeat center top;
    background-size: cover;
    padding: 0;
}

.classMashTrans {
    background: rgb(0, 0, 0, .7);
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classFotoDatos {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    padding: 0 1rem;

    & .classCoverFoto {
        width: 18rem;
    
        & img {
        border-radius: 100%;
        border: 5px solid var(--varBtnsCan2);
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        }
    }
}

.classCoverDatos {
    color: var(--varFontColor);
    padding-left: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .classTituloH2 {
        width: 100%;
        margin: 0 0 2rem 0;
        font-family: var(--varRubikSemiBold);
        color: var(--varFontColor);
        text-align: left;
        font-size: 36px;

        & span {
            color: var(--varHabColorHR2);
            font-size: 40px;
        }
    }

    & .classCoverHi {
        font-family: var(--varRubikRegular);
        margin-bottom: 2rem;
        font-size: 22px;
        line-height : 2rem;
    }
    
    & .classCoverIcons {
        display: flex;
        justify-content: left;
        gap: 0 1rem;

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 9rem;
            height: calc(var(--varTopBarHeight) * .6);
            border: 3px solid var(--varBtnsCan1);
            background-color: var(--varBtnsCan2);
            color: var(--varBtnsCan1);
            font-family: var(--varRubikRegular);
            border-radius: .75rem;
            font-size: 16px;
        }

        & a:hover {
            background-color: var(--varBtnsCanHover);
            transition: transform .5s ease-in-out;
            transform: scale(1.1);
        }

        & .btnGitHub svg,
        .btnLinkedIn svg,
        .btnDocCV svg {
            width: 2rem;
            stroke: var(--varBtnsCan1);
            stroke-width: 2.5;
            margin-right: 5px;

        }
    }
}

.classArrowDown {
    position: absolute;
    bottom: 4rem;
    animation: animArrow 2.5s ease-in-out infinite;

    & svg {
        fill: var(--varBtnsCan1);
        stroke-width: 2.5;
        width: 3rem;
    }
}

@-webkit-keyframes animArrow {
    0% {
        transform: translateY(0);
        stroke: var(--varBtnsCan1);
    }
    25% {
        stroke: var(--varBtnsCan2);
    }
    50% {
        transform: translateY(2rem);
        stroke: var(--varBtnsCan1);
    }
    75% {

        stroke: var(--varBtnsCan2);
    }
    100% {
        transform: translateY(0);
        stroke: var(--varBtnsCan1);
    }
}
@keyframes animArrow {
    0% {
        transform: translateY(0);
        stroke: var(--varBtnsCan1);
    }
    25% {
        stroke: var(--varBtnsCan2);
    }
    50% {
        transform: translateY(2rem);
        stroke: var(--varBtnsCan1);
    }
    75% {
        stroke: var(--varBtnsCan2);
    }
    100% {
        transform: translateY(0);
        stroke: var(--varBtnsCan1);
    }
}

/*---------RESPONSIVE---------*/

@media (width <= 900px) {
    .classFotoDatos {

        & .classCoverFoto {
            margin-bottom: 2rem;
        }
    }

    
    .classCoverHi {
        font-size: 16px;
    }

    .classCoverIcons a {
        margin: 0 1rem;
        font-size: 14px;
    }

    .classArrowDown svg {
        width: 2rem;
    }

}

@media (width <= 750px) {
    .classFotoDatos {
        max-width: 95%;
        flex-direction: column;

        .classCoverFoto{
            width: 12rem;
            height: auto;
        }

        & .classTituloH2 {
            font-size: 24px;
        }

        & .classCoverIcons {
            flex-direction: column;
    
            & a {
                margin: 5px 1rem;
                font-size: 14px;
            }
        }
    }
    
}

@media (width <= 600px) {
    .classFotoDatos {
        flex-direction: column;

        & img {
            margin-bottom: 1rem;
        }

        & .classCoverFoto {
            width: 8rem;
            height: auto;
        }

        & .classCoverHi {
            font-size: 14px;
        }
        & .classCoverIcons {
            flex-direction: column;
            margin: 10px 0;

            & a {
                margin: 5px 1rem;
                font-size: 14px;
            }
        }
        
        
    }
}

@media (width <= 414px) {
    .classCoverDatos .classTituloH2 {
        font-size: 20px;
        
    }
}

@media (width <= 390px) {
    .classCoverDatos .classTituloH2 {
        font-size: 20px;
    }
}

@media (width <= 375px) {
    .classCoverDatos .classTituloH2 {
        font-size: 20px;
    }

    .classArrowDown {
        bottom: 2rem;
    
        & svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

@media (width <= 360px) {
    .classCoverDatos .classTituloH2 {
        font-size: 18px;
        
    }
}

/*---------RESPONSIVE---------*/


