/*------------------------------------------------*/
.classHeader {
	background-color: var(--varTopBarBackColor);
    width: 100vw;
    height: var(--varTopBarHeight);
    padding: 0 1.5rem;
    position: fixed;
	top: -3rem;
    display: flex;
	justify-content: center;
    z-index: 995;
    transition:all 500ms ease;
}

.classShowHeader {
	top: 0;
}

.class800 {
    width: 100%;
    min-width: 320px;
    max-width: 1300px;
    position: relative;
    display: flex;
    align-items: center;
}

.classLogoLink {
    height: 100%;
    display: flex;
    align-items: center;
}

.classLogoImg {
    height: 75%;
    margin: 0 .5rem 0 0;
}

.classTituloH1 {
    font-family: var(--varAardvarkCafe);
    color: var(--varFontColor);
    text-shadow: 2px 2px var(--varBtnsCan1);
    font-size: xx-large;
}

.classBtnMenu {
    visibility: hidden;
    position: absolute;
    right: 0;
}


.classBtnsMenuOptions {
    position: absolute;
    right: 0;
    height: 100%;
}

.classBtnsMenuOptions ul {
    list-style: none;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0;
    gap: 0 .5rem;
}

.classBtnsMenuOptions ul li {
    display: flex;
    align-items: center;
    height: 100%;
}

.classBtnMenu,
.classBtnMenuOpt {
    border: 3px solid var(--varBtnsCan1);
    background-color: var(--varBtnsCan2);
    color: var(--varBtnsCan1);
    font-family: var(--varRubikRegular);
    border-radius: 2rem;
    width: 120px;
    height: 75%;
	font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.classBtnsMenuOptions ul li svg,
.classBtnMenu svg {
    width: 1rem;
    fill: var(--varBtnsCan1);
}

.classBtnMenu:hover,
.classBtnMenuOpt:hover{
    background-color: var(--varBtnsCanHover);
}

.classBtnMenu:link, a:visited, a:hover, a:active,
.classBtnMenuOpt a:link, a:visited, a:hover, a:active {
    color: var(--varBtnsCan1);
}

.classHR {
	visibility: hidden;
	width: 0%;
    height: 1000px;
    background-image: linear-gradient(to right, red 0%, white 33.3%, white 66.6%, red 100%);
}

.classAncla {
    background-color: aqua;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
}
/*-------------------------*/

@media (max-width:1000px) {

    .classBtnMenu {
        visibility: visible;
    }

    .classBtnsMenuOptions{
        backdrop-filter: blur(6px);
        background-color: rgb(0, 0, 0, 0.9);
        position: fixed;
        width: 100%;
        right: -100%;
        top: var(--varTopBarHeight);
        transition:all 500ms ease-in-out;
    }

    .classBtnsMenuOptions ul {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
    }

    .classBtnsMenuOptions ul li {
        width: 100%;
        height: 4rem;
    }

    .classBtnsMenuOptionsShow {
		right: 0%;
	}

    .classBtnMenuOpt {
        background-color: var(--varBtnsCan2);
        width: 100%;
        height: 4rem;
        margin-left: 0;
    }

    .classBtnsMenuOptions ul li svg {
        width: 1.5rem;
    }

    .classHR {
		visibility: visible;
		width: 100%;
		height: 1.5px;
	}

    .classBtnMenuOpt,
    .classHR {
        padding-bottom: .2rem;
    }

}

/*---------RESPONSIVE---------*/

@media (max-width:900px) {
    .classBtnMenuOpt {
        border-radius: 0;
    }
    .classBtnsMenuOptions ul li {
        height: auto;
    }
    .classBtnsMenuOptions ul li a{
        height: 4rem;
        font-size: 22px;
    }
}

@media (max-width:540px) {
    .classBtnsMenuOptions ul li a{
        height: 4rem;
        font-size: 22px;
    }
}

@media (max-width:414px) {
    .classHeader {
        padding: 0 1rem;
    }
    
    .classBtnsMenuOptions ul li a{
        height: 3.5rem;
        font-size: 20px;
    }
}

@media (max-width:350px) {
    .classLogoLink {
        height: 90%;
    }
    .classBtnMenu {
        width: 6rem;
        font-size: small;
    }

    .classBtnsMenuOptions ul li a {
        height: 3rem;
        font-size: 16px;
    }
}

@media (max-width:320px) {

    .classLogoLink {
        height: 85%;
    }
    .classTituloH1 {
        font-size: 18px;
    }

    .classBtnMenu {
        width: 5rem;
        font-size: small;
    }

    .classBtnsMenuOptions ul li a {
        height: 3rem;
        font-size: 16px;
    }
}

/*---------RESPONSIVE---------*/
