@font-face {
    font-family: "AardvarkCafe";
    src: url(../assets/fonts/AardvarkCafe.woff) format("woff");
    src: url(../assets/fonts/AardvarkCafe.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Frutiger";
    src: url(../assets/fonts/Frutiger.woff) format("woff");
    src: url(../assets/fonts/Frutiger.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "RubikRegular";
    src: url(../assets/fonts/Rubik-Regular.woff) format("woff");
    src: url(../assets/fonts/Rubik-Regular.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "RubikSemiBold";
    src: url(../assets/fonts/Rubik-SemiBold.woff) format("woff");
    src: url(../assets/fonts/Rubik-SemiBold.ttf) format("truetype");
    font-display: swap;
}

:root {
    --varAardvarkCafe: 'AardvarkCafe';
    --varFrutiger: 'Frutiger';
    --varRubikRegular: 'RubikRegular';
    --varRubikSemiBold: 'RubikSemiBold';
    --varFontColor: #E6E6E6;
    --varLineColor: linear-gradient(to right, #873E2F 40%, #EABE6A 70%);

    --varTopBarBackColor: #204B89;
    --varTopBarHeight: 3rem;

    --varBtnsCan1: red;
    --varBtnsCan2: white;
    --varBtnsCanHover: #F0F0F0;

    --varMinHeightClassScreen:calc(100vh - var(--varTopBarHeight));

    --varIcoColorGitHub: #7DBBE6;
    --varIcoColorLinkedIn: #3B65BE;
    --varIcoColorPDF: #DF2F21;

    --varHabColorHR1 : #873E2F;
    --varHabColorHR2 : #EABE6A;
    --varHabColorHR3 : white;

    --varMailFormBackColor: #DCDCDC;
    --varMailFontColor: #494545;
}

* {
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

body {
    min-width: 320px;
    min-height: 600px;
}

.classCover,
.classMail,
.classHabilidades,
.classProjects {
    background: #1A1A1A;
    width: 100%;
    position: relative;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: var(--varMinHeightClassScreen);
}

.LineColor {
    height: 1px;
    border: none;
    background: var(--varLineColor);
}

.classTituloH2,
.classTituloH3 {
    font-family: var(--varRubikSemiBold);
    color: var(--varFontColor);
}

.classTituloH2 {
    font-size: 28px;
    margin: 0 0 1rem 0;
}

.classCoverHi,
.classHabilidadesIntro,
.classMySlidesDescrip {
    font-size: 18px;
    line-height : 1.5rem;
}

/*---------CONTENEDOR TOTAL---------*/

.classAncleCover, .classAncle {
    position: absolute;
    visibility: hidden;
    left: 0;
}

.classAncleCover {
    top: 0;
}
.classAncle {
    height: var(--varTopBarHeight);
    bottom: -1px;
}

/*---------CONTENEDOR TOTAL---------*/

/*---------RESPONSIVE---------*/

@media (max-width:900px) {
    .classCoverFoto{
        width: 10rem;
        height: auto;
    }
    .classTituloH2 {
        font-size: 18px;
    }
    .classCoverHi {
        font-size: 16px;
    }
    .btnGitHub,
    .btnLinkedIn,
    .btnDocCV {
        font-size: 2rem;
    }

    .classArrowDown {
        margin: 0 0 -1.5rem 0;
    }
} 

@media (max-width:600px) {
    .classTituloH2 {
        font-size: 18px;
    }
}

@media (max-width:414px) {
    .classCoverFoto{
        width: 8rem;
        height: auto;
    }
}

@media (max-width:350px) {
    .classTituloH2 {
        font-size: small;
    }
}

/*---------RESPONSIVE---------*/
