---
import "../indexEstExp.css";
import { Ancle, SubTituloH3 } from '../../../../pages/index.astro';
import ExperienciaCard from './ExperienciaCard.astro';
---
<Ancle vIdAncle="idAncleExperiencia" />
<div class="cExperiencias">
  
  <SubTituloH3 vIconName="icoExperiencia" vH3Text="Experiencia" />
  <div class="cExperienciasFlex">
    <ExperienciaCard />
  </div>
  
</div>