.cExperiencias {
  min-height: var(--vMinHeightClassScreen);
}
.cEstudios {
  min-height: calc(100vh - (var(--vBarHeight)*2) - 20px);
}
  
.cExperiencias,
.cEstudios {
  padding: 2rem 1rem;
  color: var(--vBtnsCan2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: var(--vHighBorder);
  border-image: var(--vBorderImage) 1;

  & .cExperienciasFlex,
  & .cEstudiosFlex {
    width: 100%;
    max-width: var(--vMaxWidthContent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
}

.cExperienciaCard,
.cEstudioCard {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 1rem;

  & .cExperiencia,
  & .cEstudio {
    width: 39rem;
    padding-bottom: 1rem;

    & p {
      font-family: var(--vRubikRegular);
      font-size: 22px;
      margin-left: 1rem;
      margin-bottom: .5rem;
      line-height: 2rem;

      @media ( width <= 600px ) {
        font-size: 18px;
        line-height: 1.5rem;
      }
    }
  }
}