<a href="http://www.landaetadev.com">
    <picture class="cLogo">
      <source srcset="/assets/images/WebLogo/WebLogo.avif" type="image/avif" />
      <source srcset="/assets/images/WebLogo/WebLogo.webp" type="image/webp" />
      <img src="/assets/images/WebLogo/WebLogo.png" alt="Foto"/>
    </picture>
    <h1>LandaetaDev</h1>
</a>

<style>
  
  a {
    display: flex;
    align-items: center;

    & .cLogo img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
    }

    & h1 {
      margin-left: 1rem;
      font-family: var(--vAardvarkCafe);
      color: var(--vFontColor);
      text-shadow: 2px 2px var(--vBtnsCan1);
      font-size: 40px;
    }
  }

</style>