<a href="http://www.landaetadev.com">
    <picture class="cLogo">
      <source srcset="/assets/images/WebLogo/WebLogo.avif" type="image/avif" />
      <img src="/assets/images/WebLogo/WebLogo.webp" alt="Logo"/>
    </picture>
    <h1>LandaetaDev</h1>
</a>

<style>
  
  a {
    display: flex;
    align-items: center;

    & .cLogo img {
      display: flex;
      align-items: center;
      justify-content: center;
      --vheight: 3rem;
      height: var(--vheight);
      @media (width <= 600px) {
        height: calc(var(--vheight) - .5rem )
      }
    }

    & h1 {
      margin-left: 1rem;
      font-family: var(--vAardvarkCafe);
      color: var(--vFontColor);
      text-shadow: 2px 2px var(--vBtnsCan1);
      --vFontSize: 40px;
      font-size: var(--vFontSize);
      @media (width <= 600px){
        font-size: calc(var(--vFontSize) - 8px);
      }
    }
  }

</style>