---
import { Ancle } from '../../../pages/index.astro';
import SubTituloH3 from '../../SubTituloH3.astro';
import EstudiosCard from '../../Secciones/Estudios/EstudiosCard.astro';
import JsonEstudios from "../../../../public/js/JSONEstudios.json";
---
<Ancle vIdAncle="idAncleFormacion" />
<div class="cEstudios">

  <SubTituloH3 vIconName="icoFormacion" vH3Text="Estudios" />

  <div class="cEstudiosFlex">

    {JsonEstudios.map((item) => (
      <EstudiosCard dataJsonEstudios={item} />
    ))}

  </div>
  
</div>

<style>

  .cEstudios {
    padding: 2rem 1rem;
    color: var(--vBtnsCan2);
    width: 100%;
    min-height: calc(100vh - (var(--vBarHeight)*2) - 20px);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: var(--vHighBorder);
    border-image: var(--vBorderImage) 1;

    & .cEstudiosFlex {
      width: 100%;
      max-width: var(--vMaxWidthContent);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
    }
  }

</style>