---
import { Ancle } from '../../../pages/index.astro';
import SubTituloH3 from '../../SubTituloH3.astro';
import ExperienciaCard from './ExperienciaCard.astro';
import JsonExperiencia from "../../../../public/js/JSONExperiencia.json";
---
<Ancle vIdAncle="idAncleExperiencia" />
<div class="cExperiencia">
  
  <SubTituloH3 vIconName="icoExperiencia" vH3Text="Experiencia" />
  <div class="cExperienciaFlex">
    {JsonExperiencia.map((item) => (
      <ExperienciaCard dataJsonExperiencia={item} />
    ))}
  </div>
  
</div>

<style>

  .cExperiencia {
    padding: 2rem 0;
    color: var(--vBtnsCan2);
    min-height: var(--vMinHeightClassScreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: var(--vHighBorder);
    border-image: var(--vBorderImage) 1;

    & .cExperienciaFlex {
      width: 100%;
      max-width: var(--vMaxWidthContent);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
    }
  }

</style>