---
const { vIdAncle } = Astro.props;
---
<a class="cAncle" id={vIdAncle}></a>

<style>

  .cAncle {
  position: relative;
  top: calc(var(--vBarHeight) * -1);
  left: 3rem;
  visibility: hidden;
  }

</style>