<div class="cPuntoBarra">
  <div class="cBarra"></div>
  <div class="cPunto"></div>
</div>

<style>

  .cPuntoBarra {
    width: 1rem;
    display: flex;
    justify-content: center;

    & .cPunto {
      --vSize: 23px;
      width: var(--vSize);
      height: var(--vSize);
      border-radius: 50%;
      position: absolute;
      background-color: var(--vHabColorHR2);
      border: 3px solid var(--vHabColorHR1);
      box-shadow: 0 0 2px 2px var(--vHabColorHR3);
    }

    & .cBarra {
      width: 1rem;
      height: calc(100% + 5px);
      position: relative;
      border-radius: .5rem;
      background-color: var(--vHabColorHR2);
      border: 3px solid var(--vHabColorHR1);
    }
  }

</style>