---
import "../indexEstExp.css";
import { Ancle, SubTituloH3 } from '../../../../pages/index.astro';
import EstudiosCard from '../../../Secciones/EstExp/Estudios/EstudiosCard.astro';
---
<Ancle vIdAncle="idAncleFormacion" />
<div class="cEstudios">

  <SubTituloH3 vIconName="icoFormacion" vH3Text="Estudios" />
  <div class="cEstudiosFlex">
    <EstudiosCard/>
  </div>
  
</div>