---
import { Ancle, SubTituloH3 } from '../../../pages/index.astro';
import HabilidadesCards from './HabilidadesCards.astro';
---

<Ancle vIdAncle="idAncleHabilidades" />

<div class="cHabilidades">
  <SubTituloH3 vIconName="icoHabilidades" vH3Text="Habilidades" />

  <div class="cHabilidadesFlex">
    <HabilidadesCards/>
  </div>

</div>

<style>

  .cHabilidades {
    padding: 2rem 0;
    color: var(--vBtnsCan2);
    min-height: var(--vMinHeightClassScreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: var(--vHighBorder);
    border-image: var(--vBorderImage) 1;

    & .cHabilidadesFlex {
      width: 100%;
      max-width: var(--vMaxWidthContent);
      min-height: 500px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
  }

</style>