---
import { vIconsFile } from '../../../../public/js/index.js';
const { dataJsonHabilidades } = Astro.props;
---

<div class="cHabilidad">
  <div class="cHabiIcono">
    <svg>
      <use href={`${vIconsFile}${dataJsonHabilidades.jsonIcono}`}>
    </svg>
  </div>
  <h3 class="cHabiNombre">{dataJsonHabilidades.jsonArea}</h3>
  <p class="cHabiDetalles">{dataJsonHabilidades.jsonSoftwares}</p>
</div>

<style>

  .cHabilidad {
    border: 5px solid  var(--vHabColorHR1);
    background-color: var(--vHabColorHR2);
    color: var(--vHabColorHR1);
    box-shadow: var(--vHabColorHR3, 1) 0px 0px 1px 1px;
    border-radius: 2rem;
    min-width: 210px;
    width: 18rem;
    height: 22rem;

    & .cHabiIcono {
      height: 25%;
      display: flex;
      justify-content: center;

      & svg {
        margin-top: 1rem;
        width: 4rem;
        height: 4rem;
        fill: var(--vHabColorHR1);
        stroke: var(--vHabColorHR1);
        stroke-width: 2.5;
      }
    }
    & .cHabiNombre {
      height: 40%;
      font-family: var(--vAardvarkCafe);
      font-weight: 500;
      font-size: 32px;
      text-shadow: 1px 1px #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .cHabiDetalles {
      height: 35%;
      text-align: center;
      font-family: var(--vFrutiger);
      font-size: 22px;
      font-weight: bold;
      padding: 0 1rem;
      line-height: 1.8rem;
    }
  }

</style>