<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="Orlando Landaeta">
		<meta name=”title” content=”LandaetaDev”>
		<meta name="description" content="Orlando Landaeta, licenciado en Computación con habilidades en diferentes ambitos.">
		<meta name="robots" content="index, nofollow">
		<link rel="canonical" href="https://landaetadev.github.io" />

		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>LandaetaDev</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

	@font-face {
		font-family: "AardvarkCafe";
		src: url(/assets/fonts/AardvarkCafe.woff2) format("woff2");
		src: url(/assets/fonts/AardvarkCafe.woff) format("woff");
		src: url(/assets/fonts/AardvarkCafe.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "Frutiger";
		src: url(/assets/fonts/Frutiger.woff2) format("woff2");
		src: url(/assets/fonts/Frutiger.woff) format("woff");
		src: url(/assets/fonts/Frutiger.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "RubikRegular";
		src: url(/assets/fonts/Rubik-Regular.woff2) format("woff2");
		src: url(/assets/fonts/Rubik-Regular.woff) format("woff");
		src: url(/assets/fonts/Rubik-Regular.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "RubikSemiBold";
		src: url(/assets/fonts/Rubik-SemiBold.woff2) format("woff2");
		src: url(/assets/fonts/Rubik-SemiBold.woff) format("woff");
		src: url(/assets/fonts/Rubik-SemiBold.ttf) format("truetype");
		font-display: swap;
	}

	:root {

		--vAardvarkCafe: "AardvarkCafe";
		--vFrutiger: "Frutiger";
		--vRubikRegular: "RubikRegular";
		--vRubikSemiBold: "RubikSemiBold";
		--vFontColor: rgb(240 240 240);

		--vBarBackColor: 50 70 123;
		--vBarHeight: 4.5rem;

		--vBtnsCan1: rgb(233 41 28);
		--vBtnsCan2: rgb(254 255 254);
		--vBtnsCanHover: rgb(240 240 240);

		--vMinHeightClassScreen: calc(100vh - var(--vBarHeight));
		--vMaxWidthContent: 1400px;

		--vHabColorHR1: rgb(135 62 47);
		--vHabColorHR2: rgb(234 190 106);
		--vHabColorHR3: rgb(254 255 254);

		--vHighBorder: 4px solid;
		--vBorderImage: linear-gradient(90deg, var(--vHabColorHR1), var(--vHabColorHR2), var(--vHabColorHR1));

	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html, body {
		scroll-behavior: smooth;
		background-image: image-set(
      url("/assets/images/backgrounds/001.avif") type("image/avif"),
      url("/assets/images/backgrounds/001.webp") type("image/webp")
    );

		& a:link, a:visited, a:hover, a:active {
      text-decoration: none;
    }
	}

	body.noScroll {
		overflow-y: hidden;
	}

	@media (min-width: 1200px) {
    body.noScroll {
      overflow-y: visible;
    }
  }
</style>