---
import { BtnLinkLarge } from '../../../../pages/index.astro';
---
<div class="cCoverLinks">
  <BtnLinkLarge vIcoBtn="icoGitHub" vText="GitHub" vHref="https://github.com/landaetadev" vTarget="_blank"/>
  <BtnLinkLarge vIcoBtn="icoLinkedIn" vText="LinkedIn" vHref="https://www.linkedin.com/in/olandaeta/" vTarget="_blank"/>
  <BtnLinkLarge vIcoBtn="icoCV" vText="CV" vHref="https://filedn.eu/lUfpa3BpLa45XCcSIQyWRHF/WWW/Portfolio/CVOL.pdf" vTarget="_blank"/>
</div>

<style>

  .cCoverLinks {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0 1rem;
  }

</style>