---
// import BtnLinkLarge from '../../../Botones/btnLinkLarge.astro';
import TituloH2 from './TituloH2.astro';
import CoverHi from './CoverHi.astro';
import CoverLinks from './CoverLinks.astro';
---

<div class="cCoverDatos">

  <TituloH2 />
  <CoverHi />
  <CoverLinks />

</div>

<style>

  .cCoverDatos {
    color: var(--vFontColor);
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

</style>