---
// import BtnLinkLarge from '../../../Botones/btnLinkLarge.astro';
import TituloH2 from './TituloH2.astro';
import CoverHi from './CoverHi.astro';
import CoverLinks from './CoverLinks.astro';
---

<div class="cCoverDatos">

  <TituloH2 />
  <CoverHi />
  <CoverLinks />

  <!-- <div class="cCoverBtns">
    <BtnLinkLarge vIcoBtn="icoGitHub" vText="GitHub" vHref="https://github.com/landaetadev" vTarget="_blank"/>
    <BtnLinkLarge vIcoBtn="icoLinkedIn" vText="LinkedIn" vHref="https://www.linkedin.com/in/olandaeta/" vTarget="_blank"/>
    <BtnLinkLarge vIcoBtn="icoCV" vText="CV" vHref="https://filedn.eu/lUfpa3BpLa45XCcSIQyWRHF/WWW/Portfolio/CVOL.pdf" vTarget="_blank"/>
  </div> -->
</div>

<style>

  .cCoverDatos {
    color: var(--vFontColor);
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .cCoverHi {
      font-family: var(--vRubikRegular);
      margin-bottom: 2rem;
      font-size: 22px;
      line-height: 2rem;
    }

    /* &  .cCoverBtns {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 0 1rem;
    } */
  }

</style>