<p class="cCoverHi">Hola &#128075;, me llamo Orlando, soy de Caracas, actualmente viviendo en Valencia, España, 
  en mis tiempos libres me gusta pasarlos entre los videojuegos y el aeromodelismo.
</p>
<p class="cCoverHi">Aquí podrás explorar un poco de mi 
  trayectoria, conocimientos, y habilidades en el área de informática.
</p>

<style>

  .cCoverHi {
    font-family: var(--vRubikRegular);
    margin-bottom: 2rem;
    font-size: 22px;
    line-height: 2rem;
    @media (width <= 600px) {
      font-size: 20px;
      line-height: 2rem;
    }
  }

</style>