---
import CoverFoto from './CoverFoto.astro';
import CoverDatos from './CoverDatos.astro';
---

<div class="cFotoDatos">
  <CoverFoto />
  <CoverDatos />
</div>

<style>
  & .cFotoDatos {
    padding-bottom: 1rem;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    z-index: 1;

    @media ( width <= 1000px ) {
        flex-direction: column;
    }
  }
</style>