<h2 class="cTituloH2"><span>Orlando Landaeta</span>  <br> Licenciado en Computación</h2>

<style>

  .cTituloH2 {
    width: 100%;
    margin-bottom: 2rem;
    font-family: var(--vRubikSemiBold);
    color: var(--vFontColor);
    text-align: left;
    font-size: 36px;
    @media (width <= 600px) {
      color: var(--vFontColor);
      font-size: 32px;
    }

    & span {
      color: var(--vHabColorHR2);
      font-size: 40px;
      @media (width <= 600px) {
        color: var(--vHabColorHR2);
        font-size: 32px;
      }
    }
  }

</style>