<h2 class="cTituloH2"><span>Orlando Landaeta</span>  <br> Licenciado en Computación</h2>

<style>

  .cTituloH2 {
    --vFontSize: 36px;
    
    width: 100%;
    margin-bottom: 2rem;
    font-family: var(--vRubikSemiBold);
    color: var(--vFontColor);
    text-align: left;
    font-size: var(--vFontSize);
    @media (width <= 600px) {
      color: var(--vFontColor);
      font-size: calc(var(--vFontSize) - 10px);
    }

    & span {
      color: var(--vHabColorHR2);
      font-size: calc(var(--vFontSize) + 4px);
      @media (width <= 600px) {
        color: var(--vHabColorHR2);
        font-size: calc(var(--vFontSize) - 6px);
      }
    }
  }

</style>